*{
	padding: 0px;
	margin: 0px;
}
#sideMenu{
	background-color: #BD5D38;
	height:100vh;
	width: 250px;
	float: left;
	position: fixed;
	z-index: 2;
	



}

#sideMenu #name{
	display: none;
}

ol{
	display: none;
}

/********************************************************************
*                             Img                                   *
*********************************************************************/
#myImage img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border:8px solid #CA7D60;
	margin: 150px 0px 0px 35px;

}


/********************************************************************
*                        SOcial Media logo                          *
*********************************************************************/
#facebook{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: green;
	float: left;
	padding: 5px 5px 5px 5px

}




#logo{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	list-style:none;
}


#logo li{
	margin-right:24px 

}   
#logo li:hover{
	opacity: 1;
}

#logo li{
	opacity: 0.6;
}



#twitter img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}


/*********************************************************************
*                                 About                              *
*********************************************************************/

#about{
	position: absolute;
	top: 0px;
	left: 300px;
	height: 100vh;
	z-index: 1;
	width: 70vw;
}



#about h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 60px;
	color: #343A40;
}


span{
	color: #BD5D38;
}



 #email,#phone{
	color: #BD5D38;

}



#phone:hover{
	text-decoration: underline;
}




#email:hover{
	text-decoration: underline;
}




#about h3{
	color: #868E96;
	font-family: font-family: 'Varela Round', sans-serif;
	font: normal;
	margin-bottom: 50px
}




#about h4{
	color: #868E96;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px


}




/********************************************************************
*                               Side nav                            *
*********************************************************************/
#nav {
	float: center;
	
	text-align: center;
	text-decoration: none;
	margin-top: 30px;
	


}
#sideMenu ul li{
	margin: 3px 0px 14px 0px
}


#sideMenu ul li a{
	text-decoration: none;
	list-style: none;
	color: #ffebcd;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	margin: 3px 0px 10px 0px;
	opacity: 0.5
}



#sideMenu ul li a:hover{
	color: #ffebcd;
	opacity: 0.8
}




#sideMenu ul li a:focus{
	color: white;
}


hr{
	margin:300px 0px 0px 0;
}




/***************************************************************
*                          EXPERENCE                           *
***************************************************************/

#experence{
	height: 100vh;
	float: left;
	top: 890px;
	position: absolute;
	left: 300px;
	height: 85vh;
	
	z-index: 1;
	width: 70vw;
}



#experence h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 45px;
	color: #343A40;


}



#experence h3{
	color: #868E96;
	font-family: font-family: 'Varela Round', sans-serif;
	font: normal;
	font: bolder;
	font-size: 25px;
	
}



#experence h2{
	color: #868E96;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;

}




#experence  p{
	color: #868E96;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	font: 20px;
	font-weight:bolder;

}




#experence  p a{
	text-decoration: none;
	color: #BD5D38

}



#experence  p a:hover{
	text-decoration: underline;
}




#experence hr{
	
	margin: 250px 00px 0 0;
}




/***************************************************************
*                          EDUCATION                           *
****************************************************************/

#education{
	float: left;
	top: 220vh;
	position: absolute;
	left: 300px;
	height: 100vh;
	margin-top: 0vh;
	z-index: 1;
	width: 70vw;
}



#education h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 45px;
	color: #343A40;
	margin-bottom: 40px;

}



#udemy, #highSchool, #school{
	margin-bottom: 60px;

}




#education h2{
	font-family: 'Archivo Black', sans-serif;
	font-size: 25px;
	color: #868E96;
	
	font-weight: normal;

}




#education h3{
	color: #868E96;
	font-family: font-family: 'Varela Round', sans-serif;
	font: normal;
	font: bolder;
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 20px;

}




#education span{
	margin-top: 5px;
	font-family: font-family: 'Varela Round', sans-serif;
	margin-left: 20px;
	font: 18px;


}


#education hr{
	margin: 0px;
	margin-top: 90px;
}





/***************************************************************
*                              SKILL                           *
****************************************************************/

#skill{
	float: left;
	top: 350vh;
	position: absolute;
	left: 300px;
	height: 100vh;
	margin-top: 0vh;
	z-index: 1;
	width: 70vw;

}



#skill .fa {
	margin-right: 10px;
	color: grey;
	
}



#skill #css{
	color: white;
	background-color:grey;
	padding: 3px;
}




#skill .fa:hover{
	color: #BD5D38;
}



#skill #css:hover{
	background-color: #BD5D38;

}



#skill #js{
	color: white;
	background-color:grey;
	padding: 3px;
	font-weight: bolder;

}



#skill #js:hover{
	background-color: #BD5D38;

}




#skill h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 45px;
	color: #343A40;
	margin-bottom: 40px;

}



#skill p{
	color: #868E96;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	font: 20px;
	font-weight:bolder;
	margin-bottom: 30px

}


#skill #js span {
	/*background-color: #BD5D38;*/
	color: white;
	/*font-size: 26px;*/
	padding: 2px;
	transform: rotate(60deg);
}



#skill #work{
	margin-left: 70px;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font: 20px;
	color: grey;

}
#skill hr
{
	margin: 0px;
	margin-top: 200px;
}




/***************************************************************
*                             INTREST                          *
****************************************************************/

#intrest{
	float: left;
	top: 450vh;
	position: absolute;
	left: 300px;
	height: 100vh;
	margin-top: 0vh;
	z-index: 1;
}


#intrest  h1{
	font-family: 'Archivo Black', sans-serif;
	font-size: 45px;
	color: #343A40;
	margin-bottom: 40px;
}

#intrest p{
	color: #868E96;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	font: 20px;
	font-weight:bolder;
	margin-bottom: 30px
}

#toggle{
	position: fixed;
	top: 10px;
	right: 10px;
	
	opacity: 0.8;
	

}

}
#toggle:hover{
	
	opacity: 1;
	cursor: pointer;

}

#line1{
	height: 4px;
	width:25px;
	background-color: white;
	border-radius: 2px;
	margin: 2px;

}
#line2{
	height: 4px;
	width:25px;
	background-color: white;
	border-radius: 2px;
	margin: 2px;


}
#line3{
	height: 4px;
	width:25px;
	background-color: white;
	border-radius: 2px;
	margin: 2px;



}























/********************************************************************
*                              for mobile view                       *
*********************************************************************/




@media only screen and (max-width: 900px){
	body{
		overflow-x: hidden;
		position: absolute;

	}
	#main{
		position: absolute;
		top: -70px;
		left: -190px;
		width: 90%;
		display: grid;
		grid: center;
	}
	#sideMenu{
		position: fixed;
		width: 100%;
		height: 60px;

		

	}
	#sideMenu img ,#nav{
		display: none;
	}
	hr{
		display: none;
	}
	#toggle{
		display: flex;
		flex-direction: column;
		padding: 5px;	
	}

	#experence h1, #education h1, #skill h1, #intrest h1{
		font-size: 30px;
		font-weight: bold;
	}

	#experence h2, #education h2, #skill h2{
		font-size: 22px;
		font-weight: bold;
	}
	#experence h3, #education h3, #skill h3, #intrest h3{
		font-size: 20px;
		font-weight: bold;
	}
	#experence p, #education p, #skill p, #intrest p{
		font-size: 16px;
		font-weight: bold;*/
	}
	#experence , #education , #skill , #intrest ,#about{
		width: 80vw;
		margin-left: -60px;
	}
	#experence , #education , #skill , #intrest {
		width: 80vw;
		margin-top: -360px;
	}
	#education , #skill , #intrest {
		width: 80vw;
		margin-top: -560px;
	}
	 #skill , #intrest {
		width: 80vw;
		margin-top: -800px;
	}
	#intrest {
		width: 80vw;
		margin-top: -1000px;
	}

	#about h1{
		display: none;
	}

	#sideMenu #name{
		display: flex;
		font-family: 'Archivo Black', sans-serif;
		font-size: 20px;
		color: #343A40;
		margin: 10px;
		font-weight: normal;
		letter-spacing: 1px;
		word-spacing: 6px;

	}
	#sideMenu #name span{
		color: white;
		word-spacing: 6px;
		margin-left: 4px;
	}
	#list{
		display: flex;
		flex-direction: column;
		display: none;
		list-style: none;
		width: 100%;
		background-color: #BD5D38;
		transition: 1s;
		height: 280px;
		background-size: cover;
		transition: opacity 1s ease-out;
		animation-name: fadeIn;
		animation-timing-function: 2s
		

	}
	@-webkit-keyframes fadeIn {
    from { height: : 0; }
      to { height: : 240px; }
}  






	ol li{
		margin: 10px;
		width: 100%;


	}
	ol li a{
		text-decoration: none;
		color: #ffebcd;
		font-weight: bold;
		font-size: 20px;
		font-family: 'Roboto Mono', monospace;
		margin: 3px 0px 10px 0px;
		opacity: 0.5;
		width: 100%
	}
	ol li a:hover{
	color: #ffebcd;
	opacity: 0.8
}



@media only screen and (max-width: 400px){
	#experence , #education , #skill , #intrest ,#about{
		width: 70vw;
		margin-left: -90px;
	}

	#logo img{
		height: 35px;
		width: 35px;
	}
	#experence h1, #education h1, #skill h1, #intrest h1{
		font-size: 25px;
		font-weight: bold;
	}

	#experence h2, #education h2, #skill h2{
		font-size: 20px;
		font-weight: bold;
	}
	#experence h3, #education h3, #skill h3, #intrest h3{
		font-size: 18px;
		font-weight: bold;
	}
	#experence p, #education p, #skill p, #intrest p{
		font-size: 15px;
		font-weight: bold;
	}
	#experence  {
		width: 80vw;
		margin-top: -460px;
	}
	#education{
		width: 80vw;
		margin-top: -660px;

	}
	#skill{
		width: 80vw;
		margin-top: -880px;

	}
	#skill .fa{

		height: 30px;
		margin: 2px;
		
	}
	
}














